

# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

## Data Types



<b>Numbers</b>: The numbers are the datatypes which stores the numerical values. The numbers are immutable. There are 3 numeric data types. Int, float and complex

example  x = 5
         y = 10.078
         z = 5+2j

<b>Strings</b>: String is a datatype that stores ordered sequence of characters. Strings are immutable. The strings are stored within the two double codes or single code

example: x = " I am the best"
         y = 'I','k','l'
         
<b>Lists</b>: List are the datatypes that stores ordered sequence of objects of different datatypes. The list are declared within [].  List are mutable and are normally called as array in other languages

<b>Tuples</b>: Tuples are datatypes which stores ordered sequence of objects similar to list within (). However, the tuple is immutable

example : x = (1,2,3), ([1,1],2,4)

<b>Dictionaries</b>: Dictories are unordered sequence of key-value pair. The dictonaries are mutable and are similar to objects in other languages

example : x = {'a' = 1, 'b'= 'Sreeja'}

<b>set</b>: The set is unordered, unique collection of items 

example : x = {1,a,b, d.21,72, 'sreeja'}

<b>Boolean </b>: Boolean can only have two values: True or False. Normally used for co nditional testing. The boolean helps to know if the given expression or condition to be true or false based on comparing two expressions. 

print(10 > 9) ----> True
print(10 == 9) -----> False
print(10 < 9) -----> False

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [25]:
(2**2)*50/2+0.50-0.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [ ]:
44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

Ans: Deosn't matter the order here. The answer would be 8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [37]:
# Square root:
import math


math.sqrt(10)

3.1622776601683795

In [38]:
# Square:

10**2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [39]:
s = 'hello'
# Print out 'e' using indexing

x = s[1]
print(x)

e

Reverse the string 'hello' using slicing:

In [40]:
s ='hello'
# Reverse the string using slicing
x = s[::-1]
print(x)

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [46]:
s ='hello'
# Print out the 'o'
# Method 1:

s[4]

'o'

In [47]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [65]:
# method 1
[0]*3

[0, 0, 0]

In [66]:
# Method 2:

mylist = [0,0,0]
print(mylist)

[0, 0, 0]

In [61]:
# Method 3:


mylist = 0
mylist1 = []
for _ in range(3):
    mylist+= mylist
    mylist1.append(mylist)
print(mylist1)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [70]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = "goodbye"

print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [77]:
list4 = [5,3,4,6,1]
# sorted gives the temprary result
print(sorted(list4))

[1, 3, 4, 5, 6]

In [83]:
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [85]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [88]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [96]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [99]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

#Grab hello

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

Ans: No we can't sort the dictonary as the dictionary is unordered key-value pair. The difference can be found only huge dictories are buit. In other words " Dictonaries are mapping not a sequence "

## Tuples

What is the major difference between tuples and lists?<br><br>
<ul>
<li>Tuple is declared between () and list is declared between []</li>
<li>Tuples are flexible to work with fixed size of the objects and have to use less memory. The list is suitable to work on arrays</li>
<li>tupples are immutable and list is mutable</li>
    </ul>

How do you create a tuple?<br><br>


Ans: t = (1,2,3)

## Sets

What is unique about a set?<br><br>

Set stores only unique values in unordered sequence. It is a collection of items declared between {}

Use a set to find the unique values of the list below:

In [101]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

# Answer
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [102]:
# Answer before running cell
2 > 3

False

In [103]:
# Answer before running cell
3 <= 2

False

In [104]:
# Answer before running cell
3 == 2.0

False

In [109]:
# Answer before running cell
3.0 == 3

True

In [110]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [111]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!